/***********************************
	General elements
***********************************/
body {
    font-family: Verdana, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3c4249;
    background-color: #E3E7ED;
}

a, a:hover, a:visited, button.btn-link, button.btn-link:hover {
    color: #E2007A;
}

h2 {
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 14pt;
    font-weight: normal;
    color: #e2007a;
    line-height: 24px;
}

.bq-header h1 {
    font-size: 20pt;
}

.form-group.required > label > span{
    position: absolute;
    top:0;
    right: 0;
}

/***********************************
	Custom
***********************************/

.control-group.readonly .control-label, .control-group.readonly p {
    font-size: 14px !important;
}

.form-horizontal .form-group.readonly{
	margin-bottom: 0px;
}

.bq-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bq-header .logo {

}

.bq-table{
	width: 100%;
	overflow-x: auto;
}

.bq-table-navigation{
    padding-left: 0;
}

.bq-header .displayName {
    font-size: 18pt;
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 16pt;
    font-weight: normal;
    line-height: 24px;
}

.fa.muted{
    color: lightgrey;
}

/***********************************
	Custom styled elements
***********************************/
div#data {
    border: 1px solid #EAEAEA;
}

div#main {
    background-color: white;
}

div#footer,
div#main {
    padding: 50px;
}

div#footer {
    background-color: #044A92;
    background-image: linear-gradient(to right, #233e75, #2b4b8e 50%);
    color: #ffffff;
    position: relative;
    padding-bottom: 15px;
}

.dashboard #footer {
    background-color: transparent;
    background-image: none;
    color: #3c4249;

}

div#footer .logo {
    margin-top: -50px
}

textarea { resize: vertical; }

/** BOOTSTRAP OVERRIDE **/

.tab-content {
    padding-top: 15px;
}

/* Pie-chart overrides */
.pie-chart {
    width: 100px;
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    position: relative;
}

.pie-chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.pie-chart-value {
    font-size: 18px;
}

.pie-chart-caption {
    margin-top: 10px;
}

/* Select2 */
.select2-container--default .select2-selection--multiple:before {
    content: ' ';
    display: block;
    position: absolute;
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    right: 6px;
    margin-left: -4px;
    margin-top: -2px;
    top: 50%;
    width: 0;
    cursor: pointer
}

.select2-search-choice {
	font-size: 12px;
}

.select2-search-choice > div {
	white-space: normal;
}

.select2-hidden{
	display: none;
	visibility : hidden;
	height: 0px;
}

/* Required fields */
.form-control-feedback.fa-asterisk{
	font-size: 9px;
}

