<nav class="breadcrumb" data-bind="foreach: { data: children, as: 'crumb'}">
	<!-- ko if: crumb.properties().isPassed -->
		<a href="#" class="breadcrumb-item passed" data-bind="click: handleClick, text: crumb.properties().displayName"></a>
	<!-- /ko -->

	<!-- ko ifnot: crumb.properties().isPassed -->
		<span class="breadcrumb-item" data-bind="text: crumb.properties().displayName, css: { 'active': crumb.properties().isCurrent }"></span>
	<!-- /ko -->
</nav>

<!--<nav class="breadcrumb">-->
	<!--<a class="breadcrumb-item" href="#">Home</a>-->
	<!--<a class="breadcrumb-item" href="#">Library</a>-->
	<!--<a class="breadcrumb-item" href="#">Data</a>-->
	<!--<span class="breadcrumb-item active">Bootstrap</span>-->
<!--</nav>-->