<ul class="nav navbar-nav" data-bind="foreach: children">
    <!-- ko if: type == 'button' -->
    <li class="nav-item" data-bind="click: handleClick, css: {'active': presentationStyles().highlighted}">

        <a class="nav-link" href="#">
            <!-- ko if: presentationStyles().icon -->
            <span><i data-bind="attr: { class: 'button-icon ' + presentationStyles().icon }"></i> </span>
            <!-- /ko -->
            <!-- ko text: caption --><!-- /ko -->
        </a>
    </li>
    <!-- /ko-->
    <!-- ko if: type == 'container' -->
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <!-- ko if: presentationStyles().icon -->
            <span><i data-bind="attr: { class: 'button-icon ' + presentationStyles().icon }"></i> </span>
            <!-- /ko -->
            <!-- ko text: displayName --><!-- /ko -->
            <span class="caret"></span>
        </a>
        <div class="dropdown-menu" role="menu" data-bind="foreach: children">
            <a class="dropdown-item" href="#" data-bind="click: handleClick">
                <!-- ko if: presentationStyles().icon -->
                <span><i data-bind="attr: { class: 'button-icon ' + presentationStyles().icon }"></i> </span>
                <!-- /ko -->
                <!-- ko text: caption --><!-- /ko -->
            </a>
        </div>
    </li>
    <!-- /ko-->
</ul>
