<div class="panel panel-default">
    <div class="panel-heading" data-bind="widgetBox: {}">
        <h2 class="panel-title">
            <!-- ko if: presentationStyles().icon -->
            <span><i data-bind="attr: { class: presentationStyles().icon }"></i></span>
            <!-- /ko -->
            <span data-bind="text: displayName"></span>

        </h2>
    </div>
    <div class="panel-body" data-bind="foreach: children">
        <!-- ko template: { name: template } --><!-- /ko -->
    </div>
</div>