<div class="container">
    <div class="row header">
        <div class="col-xs-12">

            <a class="btn" href="#">
                <div alt="Blueriq Runtime">
                    <img class="logo img-responsive"
                         data-bind="attr:{src: context.configuration.resourceUri+context.configuration.themePath+'img/logo.png'}"/>
                </div>
            </a>
        </div>
        <div class="col-xs-12">
            <h1 data-bind="visible: displayName, html: displayName"></h1>
        </div>
    </div>

    <div id="main" class="row">
        <form onsubmit="return false" class="col-xs-12">
            <div data-bind="foreach: { data: messages, as: 'message' }">
                <div class="alert alert-danger" data-bind="text: message.text"></div>
            </div>
            <div data-bind="foreach: children">
                <!-- ko template: { name: template } --><!-- /ko -->
            </div>
        </form>
    </div>

    <footer class="row footer" id="footer" role="contentinfo">
        <div class="col-xs-12 col-md-6">
            <address>
                <strong>Everest B.V.</strong><br>
                <a href="tel:(073) 645 04 60"><span class="fa fa-phone"></span> +31 (0)73 645 04 60</a><br>
                <a href="http://www.everest.nl"><span class="fa fa-globe"></span> www.everest.nl</a><br>
                <a href="mailto:info@everest.nl"><span class="fa fa-envelope"></span> info@everest.nl</a>
            </address>
        </div>
        <div class="col-xs-12 col-md-6">
            <img class="logo img-responsive" data-bind="attr:{src: context.configuration.resourceUri+context.configuration.themePath+'img/footer.png'}">
        </div>
    </footer>
</div>