<div class="container">
    <div class="row bq-header">
        <div class="col-xs-9">
            <h1 data-bind="visible: displayName, html: displayName"></h1>
        </div>
        <div class="col-xs-3 text-right">
            <div class="logo pull-right" alt="Blueriq Runtime">
                <img class="img-responsive"
                     data-bind="attr:{src: context.configuration.resourceUri+context.configuration.themePath+'img/logo.png'}"/>
            </div>
        </div>
    </div>

    <div id="main" class="row">
        <form onsubmit="return false" class="col-xs-12">
            <div data-bind="foreach: { data: messages, as: 'message' }">
                <div class="alert alert-danger" data-bind="text: message.text"></div>
            </div>
            <div data-bind="foreach: children">
                <!-- ko template: { name: template } --><!-- /ko -->
            </div>
        </form>
    </div>

    <div class="row" id="footer">
        <div class="col-xs-12 col-md-6">
            <h2>Blueriq B.V.</h2>
            <span class="fa fa-phone"></span> +31 (0)73 6450 467<br>
            <span class="fa fa-globe"></span> www.blueriq.com<br>
            <span class="fa fa-envelope"></span> support@blueriq.com
        </div>
        <div class="logo col-xs-12 col-md-6 pull-right text-right">
            <img data-bind="attr:{src: context.configuration.resourceUri+context.configuration.themePath+'img/footer.png'}">
        </div>
    </div>
</div>